.container {
  max-width: 125rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacing-xlarge) / 2);
  padding-right: calc(var(--spacing-xlarge) / 2);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.sectionCalculatePlan {
  background: var(--background-secondary-light);

  h2 {
    margin-bottom: var(--spacing-large);
  }
}

.sectionTitle {
  font-family: var(--font-heading);
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-bold);
  line-height: calc(var(--font-size-xxlarge) + 1rem);


  @media (max-width: 857px) {
    text-align: center;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  max-width: 61.2rem;
  margin: 0 auto;

  button {
    margin-top: 0.8rem;
  }
}

.formSectionTitle {
  max-width: 56.6rem;
}

.table {
  gap: var(--spacing-large);
}

.buttonsTableGroup {
  button:nth-child(1) {
    margin-right: 2rem;
  }
}

.error {
  display: flex;
  justify-content: center;

  p {
    color: red;
  }
}
