.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  select {
    font-size: var(--font-size-medium);
    color: var(--neutral-300);
    line-height: var(--font-size-xlarge);
    border: none;
    width: 100%;
    outline: none;
    border-radius: 0.4rem;
    padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) var(--spacing-large);
    appearance: none;
    &:focus {
      outline: 1px solid var(--neutral-600);
    }
  }
  
  label {
    color: var(--neutral-600);
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-small);
    line-height: var(--font-size-xxlarge);
  }

  .arrow {
    position: absolute;
    top: 1.6rem;
    right: 0;
    display: block;
    width: 6rem;
    height: 100%;
    pointer-events: none;
  }
  .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .arrow:before {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.8em solid var(--neutral-300);
  }
}